//- Master layout
block variables
doctype html
html(class='no-js', lang='en')
  head
    //- Meta
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='theme-color', content='#0E0E0E')

    //- SEO
    meta(name='robots', content='noindex, nofollow')

    //- Basic Seo
    block basicSeo
      meta(name='description' content='Index page')
      meta(name='keywords', content='index, page')
      meta(name='author' content='')

    //- Title
    block title
      title Audi Liew’s Portfolio

  body

    header.mainHeader.container(
      role='banner'
      class=isHomepage? 'mainHeader--isHomepage' : ''
      class=pageIsLight? 'mainHeader--light' : ''
      )
      nav#mainNav.mainNav
        a.mainNav__logoAnchor(href='/')
          span#mainNav__logo
            <svg id="logoA" class="mainNav__logoparts mainNav__logoparts--A" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.4 40"><path id="logoA__path" d="M16.6 6.9l16 27.8H.6l16-27.8z"/></svg>
            <svg id="logoU" class="mainNav__logoparts mainNav__logoparts--U" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.1 40"><path id="logoU__path" d="M.7 15.9h18.8v18.8H.7V15.9z"/></svg>
            <svg id="logoD" class="mainNav__logoparts mainNav__logoparts--D" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.8 40"><path id="logoD__path" d="M13.3 30.7C6.2 30.7.4 25 .4 17.9.4 10.8 6.2 5 13.3 5c7.1 0 12.9 5.8 12.9 12.9 0 7.1-5.8 12.8-12.9 12.8z"/></svg>
            <svg id="logoI" class="mainNav__logoparts mainNav__logoparts--I" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.5 40"><path id="logoI__path" d="M.6 35.3V17.5H6v17.8H.6z"/></svg>            

    if isHome
      p wow, is home sia

    .container.mainContainer
      #gem-wrapper.main.gem-wrapper(data-bb='wrapper')
          .gem-container(
            data-bb='container'
            data-namespace=namespace
            data-pageIsLight=pageIsLight
          )
            article.contentWrapper(
              role='main'
              class=contentWrapperClass
            )
              block content

    //- Footer
    include ../components/footer.pug

    //- block scripts
    block scripts
